* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: lavender;
}

header {
    display: flex;
    justify-content: space-between;
    color: black;
}

header a {
    text-decoration: none;
    color: purple;
}

.intro {
    display: block;
    text-align: center;
}

.intro.b {
    visibility: hidden;
}

.intro h1 {
    text-align: center;
}

.intro h3 {
    color: purple;
    opacity: 75%;
}   



.intro button {
    width: fit-content;
    align-items: center;
    background-color: plum;
    border-radius: 10px;
}
