* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: lavender;
}

header {
    display: flex;
    justify-content: space-between;
    color: black;
}

header a {
    text-decoration: none;
    color: purple;
}

#container {
    display: block;
    text-align: center;
}

#container h1 {
    text-align: center;
}

#container h3 {
    color: purple;
    opacity: 75%;
}

#container button {
    width: fit-content;
    align-items: center;
    background-color: plum;
    border-radius: 10px;
}